


//-----------------------------------\\
// Button variables
//-----------------------------------\\

//////////////// color, background, border
$buttons: (
  'secondary': (
    $white,
    $secondary-colour,
    darken($secondary-colour, 5%)
  ),
  'dark': (
    $white,
    $tertiary-colour,
    darken($tertiary-colour, 5%)
  ),
  'ghost': (
    $secondary-colour,
    transparent,
    rgba($secondary-colour, 0.5)
  ),
  'ghost-white': (
    $white,
    transparent,
    rgba($white, 0.25)
  ),
);

//////////////// color, background, border
$button-hover-states: (
  'to-danger': (
    $white,
    $danger-colour,
    darken($danger-colour, 5%)
  ),
);



//-----------------------------------------\\
// # Button Generation
//-----------------------------------------\\

.btn {
  // Generate btn--%{name} classes for default and hover states
  @include gen-buttons();
  @include gen-button-hover();


  // Default button styling
  @include text-caption();

  border-radius: $br;
  background: darken($primary-colour, 5%);
  border: 1px solid darken($primary-colour, 10%);
  color: $white;
  display: inline-block;
  height: $form-height;
  line-height: $form-height;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.2s, border-color 0.2s, color 0.2s;

  @include min-width($small-break) {
    width: auto;
    margin: 0;
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: $primary-colour;
    border-color: darken($primary-colour, 5%);
    color: $white;
    text-decoration: none;
    outline: none;

    transition: background 0.15s, border-color 0.15s, color 0.1s;
  }

  &:active {
    background: darken($primary-colour, 10%);
    border-color: darken($primary-colour, 10%);
  }
}



//-----------------------------------------\\
// # Custom buttons
//-----------------------------------------\\

.btn--disabled {
  opacity: 0.3;

  &:hover {
    // scss-lint:disable DuplicateProperty
    cursor: default;
    cursor: not-allowed;
  }
}
