


//----------------------------------------\\
// # Project Settings
//----------------------------------------\\

// Consistent settings TODO: This needs an update...
$br: 8px; // Border-radius
$padding: 50px; // Padding and margins
$gutter: 30px;
$form-height: 44px; // Consistent height for buttons, inputs etc. TODO: redo this thing / figure out if we need it
$timing: cubic-bezier(0.25, -0.25, 0.75, 1.25); //Animation timing



// Project color variables
$brand-primary:     $blue;
$brand-secondary:   $yellow;
$brand-tertiary:    darken($blue, 25%);
// REVIEW: Do we need standard percentages, or seperate variables for darkened colors?

$brand-success:     $green;
$brand-info:        $blue;
$brand-warning:     $orange;
$brand-danger:      $red;



//color variants are used to generate text and background colors
// REVIEW: Do we need seperate arrays for background and text color?
$color-variants: (
  'primary':   $brand-primary,
  'secondary': $brand-secondary,
  'success':   $brand-success,
  'danger':    $brand-danger,
  'white':   $white,
  'silver':  $silver,
  'dark':    $black,
);



// Responsive breakpoints
$small-break:  480px;
$medium-break: 768px;  //bootstrap sm
$big-break:    992px;  //bootstrap md
$huge-break:   1200px; //bootstrap lg



//// TODO: setup proper / useful z-indexes
$z-layers: (
  'bottom': -1,
  'default': 1,
  'over': 2,
  'top': 3,
  'dropdown': 4,
  'overlay': 5,
  'modal': 6,
);
